*{
	margin:0;
	padding:0;
}
body{
	background: #e3edf7;
}
h1{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 25px;
	letter-spacing: 4px;
	padding: 200px 0 100px;
	color: #555;
	text-align: center;
}
.icon{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.icon a{
	background: #e3edf7;
	height: 80px;
	width: 80px;
	margin: 0 20px;
	padding: 20px;
	border-radius: 10px;
	text-decoration: none;
	box-shadow: inset -7px -4px 6px 2px #b8babc;
	transition: .3s;
}
a i{
	font-size: 25px;
	color: #777;
	text-align: center;
	transition: .3s;
}
/*hover design started*/
a:hover{
	box-shadow: inset 0px 0px 6px 6px #b8babc;

}
a:hover i{
	transform: scale(.90);
	
}
a:hover .fa-facebook-square{
	color: #3b5998;
}
a:hover .fa-twitter{
	color: #00acee;
}
a:hover .fa-youtube{
	color: #FF0000;
}
a:hover .fa-instagram{
	color: #3f729b;
}
a:hover .fa-whatsapp{
	color: #34B7F1;
}
